<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <title>Ultimo registro</title>
</head>
<body>
    <h1>Sistema Profesional Penguin - 2022</h1>
    <h2>ID TEMPERATURA: {{idtemp}}</h2>
    <h2>TEMPERATURA 1: {{temp1}}</h2>
    <h2>HUMEDAD 1: {{hum1}}</h2>
    <h2>FECHA: {{fecha}}</h2>
    <h2>HORA: {{hora}}</h2>

    <h2>WATER PUMP</h2>

    <form action="">
        <label for="id">ID:</label>
        <input type="text" name="id" id="id" value="{{id}}">
        <label for="pump">PUMP:</label>
        <input type="text" name="pump" id="pump" value="WaterPump1">
        <label for="state">ESTADO:</label>
        <input type="text" name="state" id="state">
        <label for="date">FECHA:</label>
        <input type="date" name="date" id="date">
    </form>
    

</body> 
</html>